#bg {
  object-fit: cover;
  width: 100vw;
  --video-width: 426;
  --video-height: 240;
  aspect-ratio: calc(100vw) / calc(100vh);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}
.shadow-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -4;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 850px) {
  .shadow-overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

video[poster] {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
